name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  playwright:
    name: Playwright Tests
    runs-on: ubuntu-latest

    container:
      image: mcr.microsoft.com/playwright/python:v1.55.0-noble
      options: --user 1001

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install

      - name: Run Playwright tests
        run: |
          pytest tests
