name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  playwright:
    name: Playwright Tests
    runs-on: ubuntu-latest

    container:
      image: mcr.microsoft.com/playwright/python:v1.57.0-noble
      options: --user 1001

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m playwright install chromium firefox webkit

      - name: Run Playwright tests
        run: |
          pytest tests
